.bar {
    width: 300px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
  }
  
  .progress {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  
  .percent {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
  }
  
  .text {
    padding: 3px;
    width: 80%;
  }
  
  .one {
    background-color: rgba(255, 0, 0, 0.5);
    width: 25%;
  }
  
  .two {
    background-color: rgba(0, 255, 0, 0.5);
    width: 55%;
  }
  
  .three {
    background-color: rgba(0, 0, 255, 0.5);
    width: 20%;
  }